# Kompilierdaten von Tex ausschliessen,
# da sie mit Hilfe der .tex Datei generiert werden koennen.
*.aux
*.log
*.pdf
*.gz
*.toc
*#
*.o
*/build-sogoApp-Desktop_Qt_5_6_0_MSVC2015_64bit-Debug*
*/build-sogoApp-Desktop_Qt_5_6_0_GCC_64bit-Debug*
*/build-sogoApp-Desktop_Qt_5_6_0_GCC_64bit-Release*
*.pro.user
